@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 18px;
    line-height: 25px;
    vertical-align: baseline;
    font-family: 'Roboto', sans-serif;
}

.header{
    box-shadow: inset -140px 0 15px -1px #EE6073;
    background-color: #ED4856;
    height: 10vh;
}

.header>div{
    padding-top: 7%;
}

.header>div>h1{
    font-size: 1.3rem;
    text-align: center;
    color: white;
}

.cityBar>input{
    width: 30%;
}

.cityBar{
    font-size: 0.8rem;
}

.picture{
    width: 10%;
    border-radius: 100%;
}

.content, .cityBar{
    padding-left: 7%;
    margin: 2% 2% 5% 2%;
}

.eiffelTower{
    width: 90%;
}

.fa-arrow-left{
    color:white;
    position: absolute;
}

.fa-heart, .fa-comment-o, .fa-link, .fa-bookmark, .fa-ellipsis-v, .fa-star {
    color: grey;
    font-size: 80%;
}

.fa-comment-o, .fa-link, .fa-bookmark{
    padding-left: 20%;
}

.content{
    box-shadow: 2px 2px 10px 4px rgba(0, 0, 255, .1);
}

.text, b{
    font-size: 0.7rem;
}

.headerContent{
    display: flex;
}

.text{
    position: absolute;
    left: 20%;
}

.hour{
    top: 22%;
    font-size: 0.5rem;
    color: gray;
}

.fa-ellipsis-v{
    padding: 4% 10% 0% 0%;
}

.ratings {
    display: flex;
}

.rating {
    padding: 2% 0% 0% 2%;
}

.rating i {
    float: right;
    color: #aaa;
    text-decoration: none;
    transition: color .4s;
}

.rating i:hover, .rating i:focus, .rating i:hover~i, .rating i:focus~i {
    color: black;
    cursor: pointer;
}
